body{
    background-image: url(https://bit.ly/31T73js);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;


}
.footer{
    text-align: center;
    font-weight: 900px;
    font-size: larger;
    color: rgb(218, 215, 24);
}
h2{
    font-size: x-large;
    color: honeydew;
    font-weight: 900;
}
h1{
    font-size: xx-large;
    font-weight: 900px;
    color: black;
    font-stretch: expanded;
}