body{
   background-image: url(https://bit.ly/2uSMacj);
   color: wheat;
   background-size: cover;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
}
.footer{
    text-align: center;
    font-weight: 900px;
    font-size: larger;
    color: rgb(218, 215, 24);
}
h2{
    font-size: x-large;
    color:white ;
    font-weight: 900;
    text-align: center;
}
h1{
    font-size: 100px;
    font-weight: bolder;
    color: rgb(8, 22, 22);
    font-stretch: expanded;
}
.form{
    color:yellow;
}
